.center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.myCarousel{
    margin-top: -50px;
}
.myNavbar{
    z-index: 999;
    background-color: rgba(26, 17, 17, 0.72);
}
.carousel-item {
    display: none;
    position: relative;
.transition(.1s ease-in-out left);
}
.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    transition: box-shadow .15s ease-in-out;
}
.personal-link {
    color: #fff;
}
.personal-link:hover {
    color: rgba(19, 108, 66, 1);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(19, 108, 66, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}